.wrapper {
  background-color: #F3F6FA;
  background-image: url(../../assets/line.jpg);
  background-repeat: repeat-x;
  background-size: 1px 300px;
  min-height: 100vh;
  .header {
    width: 920px;
    margin: 0 auto;
    background: url(../../assets/header-banner.jpg) no-repeat;
    height: 120px;
    background-size: 910px 144px;
  }
  .content {
    background: white;
    width: 920px;
    margin: 0 auto;
    min-height: 300px;
    box-shadow: 1px 1px 3px #ccc;
    position: relative;
    padding-bottom: 40px;

    .form-title {
      text-align: center;
      height: 60px;
      line-height: 60px;
      font-size: 20px;
      font-weight: bold;
      color: #1890ff;
    }
    .submit {
      text-align: center;
      height: 100px;
      line-height: 100px;
    }
    .footer{
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0 10px;
      width: 900px;
      border-top: 1px solid #ccc;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }
  }
}