
.normal {
  font-family: Georgia, sans-serif;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: .6em 0;
  color: white;
  margin: 0;
}

.content {
  min-height: calc(100vh - 110px);
  width: 1200px;
  margin: 0 auto;
}